<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ke.co.appslab.www.pyschology" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/iicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreed"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage"
            android:label="@string/title_activity_homepage" >
        </activity>
        <activity
            android:name=".Navsystem"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="Your Emotion History"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Worked"
            android:label="What worked for you"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Report"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Psychology" >
        </activity>
        <activity
            android:name=".SignUp"
            android:label="Psychology" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".Medic"
            android:label="@string/title_activity_medic" >
        </activity>
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:label="@string/app_name"
            >
        </activity>
    </application>

</manifest>
